<html>
  <head>

<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="stylesheets/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>

  </head>
  <body>
    <header>
      <div class="container">

        <a href="/register" class="btn-primary" style="float:right;">Shop Register</a>
  </header>
        <main class="container signup-section">
          <div class="section-content">
            <h2>Token Transfer</h2>

            <form method="POST" action="/collector">


               <div class="form-group">
                     <label>Customer ID<input type="text" name="cid"></input></label>

                    <p class="error-message"></p>
                       <button type="submit" class="w3-button w3-border" name="submit" >Submit</button>
              </div>
            </form>
  </main>

</body>
</html>
