<html>
  <head>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="stylesheets/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">FOOD COURT</h1>

      </div>
    </header>

  <main class="container signup-section">
    <div class="section-content">
      <h2>Shop Registeration</h2>

      <form method="POST" action="/register">


        <div class="form-group">
          <div class="form-group">
                <label>Shop Name<input type="text" name="sname"></input></label>
               <p class="error-message"></p>

         </div><div class="form-group">
               <label>Shop Id<input type="text" name="sid"></input></label>
              <p class="error-message"></p>

        </div><div class="form-group">
              <label>Name<input type="text" name="name"></input></label>
             <p class="error-message"></p>

       </div><div class="form-group">
             <label>Password<input type="password" name="password"></input></label>
            <p class="error-message"></p>

      </div>
    <div class="form-group">
       <label>Email<input type="text" name="email"></input></label>
       <p class="error-message"></p>
     </div>
     <div class="form-group">
        <label>Phone Number<input type="text" name="phn"></input></label>
        <p class="error-message"></p>
      </div>





      <button class="btn-primary"  name="submit">Register</button>
      </form>

    </div>
  </main>
</body>
</html>
