<!DOCTYPE html>
<html>
  <head
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="stylesheets/style.css" rel="stylesheet">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

 <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">jatin</h1>
        <a href="login" class="btn-primary" style="float:right;">Log Out</a>

    </header>
  <main>
    <main class="container signup-section">
      <div class="section-content">
        <h2>Token Transfer</h2>

        <form method="POST" action="/transfer">
          <!-- <div class="form-group"> -->


          <div class="form-group">
                <label>Token<input type="text" name="token"></input></label>
               <p class="error-message"></p>

         </div>
        <button class="btn-primary" >Transfer</button>
        </form>
    <!-- <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-3">

          <h2>Token</h2>
        </div>
        <div class="col-md-3">

                <h2> Increment</h2>


        </div>
        <div class="col-md-3">
          <h2>Decrement</h2>
        </div>
        <div class="col-md-3">
          <h2>Amount</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>10</h2>
        </div>
        <div class="col-md-3">
          <h2><button type="button" onclick="incr1()" class="btn btn-outline-dark">+</button></h2>
        </div>
        <div class="col-md-3">
        <h2><button type="button" onclick="dcr1()" class="btn btn-outline-dark">-</button></h2>
       </div>
       <div class="col-md-3">
       <h2 id="sb1">0</h2>
      </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>50</h2>
        </div>
        <div class="col-md-3">
          <h2><button type="button" onclick="incr2()" class="btn btn-outline-dark">+</button></h2>
        </div>
        <div class="col-md-3">
        <h2><button type="button" onclick="dcr2()" class="btn btn-outline-dark">-</button></h2>
       </div>
       <div class="col-md-3">
       <h2 id="sb2">0</h2>
      </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2>100</h2>
        </div>
        <div class="col-md-3">
          <h2><button type="button" onclick="incr3()" class="btn btn-outline-dark">+</button></h2>
        </div>
        <div class="col-md-3">
        <h2><button type="button" onclick="dcr3()" class="btn btn-outline-dark">-</button></h2>
       </div>
       <div class="col-md-3" >
      <h2 id="sb3">0
     </h2>
      </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2></h2>
        </div>
        <div class="col-md-3">
          <h2><button type="button"  class="btn btn-outline-dark"></button></h2>
        </div>
        <div class="col-md-3">
        <h2><button type="button" onclick = "sum()" class="btn btn-outline-dark">TOTAL</button></h2>
       </div>
       <div class="col-md-3">
       <h2 id="tot">00</h2>
      </div>
      </div>
<div class="wrapper">
    <a href="success" class="btn-primary" name="transfer" >Transfer</a>
</div>
  </main>
  <script>
   var x=0,y=0,z=0;
   function incr1()
   {
     x++;
     document.getElementById("sb1").innerHTML = x;
   }
   function dcr1()
   {
     x--;
     document.getElementById("sb1").innerHTML = x;
   }
   function incr2()
   {
     y++;
     document.getElementById("sb2").innerHTML = y;
   }
   function dcr2()
   {
     y--;
     document.getElementById("sb2").innerHTML = y;
   }
   function incr3()
   {
     z++;
     document.getElementById("sb3").innerHTML = z;
   }
   function dcr3()
   {
     z--;
     document.getElementById("sb3").innerHTML = z;
   }
   function sum()
   {
     var a = document.getElementById("sb1").innerHTML;
     var b = document.getElementById("sb2").innerHTML;
     var c = document.getElementById("sb3").innerHTML;
     var res = a*10+b*50+c*100;
     document.getElementById("tot").innerHTML = res ;
   }
   </script> -->
</body>
</html>
